<h3><i class="fa fa-beer" aria-hidden="true"></i>KUPLA.LV Receptes</h3>
<div class="section">
    <p class="lead">Izveido un publicē savas mīļākās receptes</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>Log In With Google
    </a>
    {{!-- <a href="/auth/login" class="btn blue darken-1">
        Log In With KUPLA.LV
    </a> --}}
</div>