<h4>Pievienot recepti</h4>
<div class="row">
    <form action="/recipes" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="recipesName">
                <label for="recipesName">Receptes Nosaukums</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    <option value="public" selected>Publisks</option>
                    <option value="private">Privāts</option>
                </select>
                <label for="status">Receptes status</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="usedMalts" name="usedMalts">
                    <option value="public" selected>Pilsner</option>
                    <option value="private">Pale</option>
                </select>
                <label for="usedMalts">Bazes iesals</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <select id="usedHops" name="usedHops">
                    <option value="public" selected>Citra</option>
                    <option value="private">Mosaic</option>
                </select>
                <label for="usedHops">Bazes apinis</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h8>Sākuma gravitāte: </h8>
                <textarea id="startGravity" name="startGravity" placeholder="e.g 1.012"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <h8>Beigu gravitāte: </h8>
                <textarea id="endGravity" name="endGravity" placeholder="e.g 1.012"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <h8>IBU: </h8>
                <textarea id="bitternesIBU" name="bitternesIBU"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <h6>Komentārs: </h6>
                <textarea id="comment" name="comment"></textarea>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Saglabāt" class="btn">
            <a href="/manager" class="btn orange">Atcelt</a>
        </div>
    </form>
</div>